<h3>Latest articles</h3>
<ul class="list-group">
    {# @var item \AssignmentBundle\Model\Item #}
    {% for item in articles %}
        <li class="list-group-item">{{ item.description }}</li>
    {% endfor %}
</ul>