<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- TAB NAVIGATION -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#varnish-tab" role="tab" data-toggle="tab">Varnish</a>
            </li>
            <li>
                <a href="#rss-tab" role="tab" data-toggle="tab">Articles</a>
            </li>
            <li>
                <a href="#json-tab" role="tab" data-toggle="tab">Articles from json</a>
            </li>
        </ul>
        <!-- TAB CONTENT -->
        <div class="tab-content">
            <div class="active tab-pane fade in" id="varnish-tab">
                {{ render(controller('AssignmentBundle:View:varnish')) }}
            </div>
            <div class="tab-pane fade" id="rss-tab">
                {{ render(controller('AssignmentBundle:View:rssFeed')) }}
            </div>
            <div class="tab-pane fade" id="json-tab">
                {{ render(controller('AssignmentBundle:View:jsonArticles')) }}
            </div>
        </div>
    </div>
</div>