<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- TAB NAVIGATION -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab1" role="tab" data-toggle="tab">Varnish</a>
            </li>
            <li>
                <a href="#tab2" role="tab" data-toggle="tab">Articles</a>
            </li>
            <li>
                <a href="#tab3" role="tab" data-toggle="tab">Articles from json</a>
            </li>
        </ul>
        <!-- TAB CONTENT -->
        <div class="tab-content">
            <div class="active tab-pane fade in" id="tab1">
                {% include 'AssignmentBundle:parts:varnish-tab.html.twig' %}
            </div>
            <div class="tab-pane fade" id="tab2">
                {% include 'AssignmentBundle:parts:article-tab.html.twig' %}
            </div>
            <div class="tab-pane fade" id="tab3">
                {% include 'AssignmentBundle:parts:json-tab.html.twig' %}
            </div>
        </div>
    </div>
</div>